.services-item {
  background-color: #fff;
  box-shadow: 0px 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.services-item:hover::before {
  background: #f17c13;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.services-item::before {
  position: absolute;
  content: "";
  transition: all 0.3s;
  z-index: -1;
  background: color-mix(in srgb, #f17c13, transparent 96%);
  right: -80px;
  top: -80px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.sell-icon {
  font-size: 24px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #f17c13;
  color: #ffffff;
  margin-bottom: 10px;
}

.services-item:hover h4 {
  color: #ffffff;
}

.services-item:hover p {
  color: #ffffff;
}

.services-item:hover .sell-icon {
  background: #ffffff;
  color: #f17c13;
  border: 2px solid #f17c13;
}

.sell-card-description {
  line-height: 24px;
  font-size: 14px;
  margin: 10px 0 0 0;
}
